<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-category container">
        <hr>
        <h3>Artigos</h3>
        <a href="/admin/articles/new"><button class="btn btn-success">Criar novo Artigo</button></a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>                
            </thead>
            <tbody>              
              <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <th>
                        <input type="hidden" name="id" value="<%= article.id %>" >
                        <a href="/admin/article/edit/<%= article.id %>"><button class="btn btn-warning"><i data-lucide="pencil"></i></button></a>
                        <form method="POST" action="/articles/delete"  onsubmit="confirmarDelete(event, this)"> <%# onsubmit para que apareça o popup se quer confirmar DEVERA TER O SCRIPT! %>
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger mt-1"><i data-lucide="trash-2"></i></button>
                        </form>
                    </th>
                </tr>
              <% }) %>
            </tbody>
        </table>
        <hr>
    </div>
<%- include('../../partials/footer.ejs') %>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<%# Script para aparecer o PopUp se deseja confirmar o Delete %>
<script> 
    function confirmarDelete(event, form){
        event.preventDefault();
        var decision = confirm("Voce quer deletar esse Artigo?");
         if(decision){
            form.submit();
        }
    }
</script>
