<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-category container">
        <hr>
        <h3>Categorias</h3>
        <a href="/admin/categories/new"><button class="btn btn-success">Criar nova Categoria</button></a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>                
            </thead>
            <tbody>              
                <% categories.forEach(categories => { %>     
                <tr>
                    <th><%= categories.id %></th>
                    <th><%= categories.title %></th>
                    <th><%= categories.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <form method="POST" action="/categories/delete">
                            <input type="hidden" name="id" value="<%= categories.id %>">
                            <button class="btn btn-danger"><ion-icon name="trash-bin-outline"></ion-icon></button>
                        </form>
                    </th>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <hr>
    </div>
<%- include('../../partials/footer.ejs') %>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>