<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-category container">
        <hr>
        <h3>Categorias</h3>
        <a href="/admin/categories/new"><button class="btn btn-success">Criar nova Categoria</button></a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>                
            </thead>
            <tbody>              
                <% categories.forEach(categories => { %>     
                <tr>
                    <th><%= categories.id %></th>
                    <th><%= categories.title %></th>
                    <th><%= categories.slug %></th>
                    <th>
                        <input type="hidden" name="id" value="<%= categories.id %>">
                        <a href="/admin/categories/edit/<%= categories.id %>"><button class="btn btn-warning"><i data-lucide="pencil"></i></button></a>
                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelete(event, this)">
                            <input type="hidden" name="id" value="<%= categories.id %>">
                            <button class="btn btn-danger"><i data-lucide="trash-2"></i></button>
                        </form>
                    </th>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <hr>
    </div>
<%- include('../../partials/footer.ejs') %>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    function confirmarDelete(event, form){
        event.preventDefault();
        var decision = confirm("Voce quer deletar essa categoria?");
         if(decision){
            form.submit();
        }
    }
</script>
