<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <br>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Blog de Fofocas do João</h1>
                <p class="lead my-3">Aqui podemos obter exatamente todas e qualquer fofoca que pertence ao mundo de League Of Legends e Gay</p>
                <a href="/articles/page/1"><button class="btn btn-primary">Todos os Artigos</button></a>
            </div>
        </div>
        
        <div class="row mb-5" >
            <% articles.forEach(article => { %>
                    <div class="col-md-6" >
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white" >
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary"><a href="/category/<%= article.category.slug %>"><%= article.category.title %></a></strong>
                                <h3 class="mb-0"><%= article.title %></h3>
                                <div class="mb-1 text-muted">
                                    <%= article.createdAt.getDate() %> <%= article.createdAt.toLocaleString('default', { month: 'long' }) %>
                                </div>
                                <p class="card-text mb-auto"><%- truncate(article.body, 100) %></p>
                                <a href="/article/<%= article.slug %>" >Continuar Lendo</a>
                            </div>
                        </div>
                    </div>
            <% }) %>
        </div>
    </div>
</body>
<%# Coloca um limite de texto para ser exibido! %>
<% function truncate(text, maxLength) {
    return text.length > maxLength ? text.substring(0, maxLength) + "..." : text;
    } 
%>
<%- include('partials/footer.ejs') %>